@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}

/* Map default NativeWind font weight/style classes to Quicksand custom font files */
.font-sans {
  font-family: QuickSand-Regular;
}
.font-serif {
  font-family: QuickSand-Regular;
}
.font-light {
  font-family: QuickSand-Light;
}
.font-medium {
  font-family: QuickSand-Medium;
}
.font-semibold {
  font-family: QuickSand-Semibold;
}
.font-bold {
  font-family: QuickSand-Bold;
}
.font-extrabold {
  font-family: QuickSand-Bold;
}
